# Build and Object files
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# ReSharper files
_ReSharper.*/

# VS Code files
.vscode/

# NuGet packages
*.nupkg
packages/

# MSTest test results
TestResults/

# Local development files
*.swp
*.swo

# Visual Studio cache/options directory
.vs/